.dark{
	background: linear-gradient(90deg, rgba(226,204,0,1) 0%, rgba(156,4,4,1) 100%);
}
.light{
	background: linear-gradient(180deg, rgba(0,226,87,1) 0%, rgba(1,209,158,1) 25%, rgba(2,37,191,1) 50%, rgba(3,177,5,1) 75%, rgba(255,231,0,1) 100%);
}
.box{
	background: radial-gradient(circle, rgba(0,226,170,1) 0%, rgba(27,2,191,1) 50%, rgba(209,1,1,1) 100%);
}
