#g{
	background-color: green;
}
#w{
	background-color: white;
}
#r{
	background-color: red;
}
div{
	margin: 3px;
	height: 75px;
}
h1{
	text-align: center;
	background-color: yellow;
}
img{
	width: 500px;
	float: right;
	border: solid greenyellow 6px;
	margin: 4px;

}
p{
	font-size: 20px;
}
html{
	background-color: burlywood ;
}